---
import { getAllPosts, getSlugFromId } from "../../lib/utils/posts";
import { getTagColor } from "../../lib/utils/tags";
import { formatDate } from "../../lib/utils/utils";
import type { CollectionEntry } from "astro:content";

// 記事データを取得
interface Props {
  customPosts?: CollectionEntry<"blog">[];
}

const { customPosts } = Astro.props;
const allPosts = await getAllPosts();
const sortedPosts = customPosts || allPosts.slice(0, 12);
---

<div class="grid grid-auto-300 gap-8">
  {
    sortedPosts.length > 0 ? (
      sortedPosts.map((post) => {
        const { title, tags, date, description } = post.data;
        const slug = getSlugFromId(post.id);
        const tag = Array.isArray(tags) && tags.length > 0 ? tags[0] : "その他";

        return (
          <div class="border-primary rounded-lg transition duration-300 hover:scale-102 hover:shadow-lg max-w-lg mx-auto w-full">
            <a href={`/${slug}`} class="block">
              <div
                class={`h-48 flex items-center justify-center text-white text-center rounded-t-lg ${getTagColor(tag)}`}
              >
                <h2 class="text-xl font-bold px-4">{title}</h2>
              </div>
              <div class="px-6 py-6">
                {/* タグ */}
                <div class="flex gap-2 flex-wrap">
                  {Array.isArray(tags) && tags.length > 0 ? (
                    tags.map((tag) => (
                      <span
                        class={`text-sm px-3 py-1 rounded-full ${getTagColor(tag)} text-white`}
                      >
                        {tag}
                      </span>
                    ))
                  ) : (
                    <span class="text-sm px-3 py-1 rounded-full bg-gray-500 text-white">
                      その他
                    </span>
                  )}
                </div>
                <p class="text-primary text-sm mt-3">
                  {formatDate(
                    date instanceof Date ? date.toISOString() : String(date)
                  )}
                </p>
                <p class="mt-5">{description}</p>
              </div>
            </a>
          </div>
        );
      })
    ) : (
      <div class="col-span-full text-center py-10">
        <p>記事がありません</p>
      </div>
    )
  }
</div>
